<!DOCTYPE html>
<html>
<head>
  <title>ChatSpace</title>
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="result">
      <p>グループを作成しました</p>
    </div>
    <div class="container">
      <div class="sidebar">
          <div class="user">
              <div class="user__name">
                <p>sex on the beach</p>
              </div>
              <div class="user__icons">

              </div>
          </div>
          <div class="groups">
              <div class="group">
                <div class="group__name">
                  <p>sex on the beaches</p>
                </div>
                <div class="group__last-chat">
                  <p>test</p>
                </div>
              </div>
              <div class="group">
                <div class="group__name">
                  <p>50's old lovers</p>
                </div>
                <div class="group__last-chat">
                  <p>五十路さいこ〜</p>
                </div>
              </div>
        </div>
      </div>
      <div class="main">
        <div class="group-info">
          <div class="group-info__name">
            <h1>sex on the beaches</h1>
          </div>
          <div class="group-info__member member">
            <ul class="member__list">
              <li>doya</li>
              <li>onnakodomo</li>
              <li>sex on the beach</li>
            </ul>
          </div>
          <div class="group-info__edit">
            <a href="#">edit</a>
          </div>
        </div>
        <div class="messages">
          <div class="message">
            <div class="message__user-name">
              <h2>sex on the beach</h2>
            </div>
            <div class="message__date">
              <p>2019/04/02(Tue) 19:12:37</p>
            </div>
            <div class="message__text">
              <p>test</p>
            </div>
          </div>
          <div class="message">
            <div class="message__user-name">
              <h2>sex on the beach</h2>
            </div>
            <div class="message__date">
              <p>2019/04/05(Fri) 13:02:11</p>
            </div>
            <div class="message__text">
              <p>ooooo</p>
            </div>
          </div>
        </div>
        <div class="form">
          <div class="form__input">
            <input type="text" name="text" placeholder="type a message" >
            <div class="img-btn">

            </div>
            <div class="form__send-btn">
              <input type="submit" value="send">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
