.result {
  background-color: #38aef0;
  color: #ffffff;
  text-align: center;
}

.container {
  display: flex;

  .sidebar {
    width: 300px;
    color: #ffffff;
    font-weight: bold;
    height: 100vh;

    .user {
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

        .user__name {
          font-size: 16px;
        }

        .icons i {
          color: #ffffff;
        }
    }

    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;

      .group {
        padding: 20px 0 40px;

        .group__name {
          padding-bottom: 5px;
          font-size: 15px;
        }

        .group__last-chat {
          font-size: 11px;
        }
      }
    }
  }

  .main {
    width: calc(100vw - 300px);
    background-color: grey;

    .group-info {
      background-color: #ffffff;
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;


      .group-info__wrapper {

        .group-info__name {
          padding-top: 35px;
          font-size: 20px;
          color: #333333;
        }

        .group-info__member {
          margin-top: 15px;
          font-size: 12px;
          color: #999999;

          .member__list {
            display: flex;

            .member {
              margin-left: 5px;
            }
          }
        }
      }


      .group-info__edit {
        align-self: center;

        .edit-btn {
          border: solid 1px #38aef0;
          color: #38aef0;
          padding: 10px 20px;
          text-decoration: none;
        }
      }
    }

    .messages {
      height: 70%;
    }

    .form {
      height: 15%;
    }
  }
}
